<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Formulario</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
</head>

<style>

	html,
	body,
	.intro {
	  height: 100%;
	  background-color: #6095F0;
	}
	
	body{
		padding: 0;
	}
</style>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/insertGame">Crear Videojuego</a>
    </div>
  </div>
</nav>

    <section class="intro">
        <div class="d-flex align-items-center h-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card">

                            <h1 class="card-header text-primary">Editar Videojuego</h1>
                            <div class="card-body">
                                <form class="col-lg-9 offset-lg-3" th:action="@{/saveVideojuego}" method="post"
                                    th:object="${videojuego}">

                                    <input type="hidden" th:field="*{id}">
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label for="nombre">Nombre</label>
                                            <input type="text" class="form-control" th:field="*{nombre}" name="nombre"
                                                id="nombre" placeholder="Nombre" required="required">
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="nombre">Fabricante</label>
                                            <input type="text" class="form-control" th:field="*{fabricante}" name="fabricante"
                                                id="fabricante" placeholder="Fabricante" required="required">
                                        </div>

                                        <div class="form-group">
                                            <label for="nombre">Genero</label>
                                            <input type="text" class="form-control" th:field="*{genero}" name="genero"
                                                id="genero" placeholder="Genero" required="required">
                                        </div>

                                        <div class="form-group">
                                            <label for="nombre">Precio</label>
                                            <input type="number" class="form-control" th:field="*{precio}" name="precio"
                                                id="precio" placeholder="Precio" required="required">
                                        </div>

                                        <div class="form-group">
                                            <label for="pegi">PEGI</label>
                                            <select class="form-control" name="pegi" id="pegi" th:field="*{pegi}">
                                                <option value="3">3</option>
                                                <option value="6">6</option>
                                                <option value="9">9</option>
                                                <option value="14">14</option>
                                                <option value="16">16</option>
                                                <option value="18">18</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="videojuegos">Sucursal</label>
                                            <select class="form-control" name="sucursal" id="sucursal">
                                                <option th:each="sucursal : ${lista}" name="sucursal"
                                                    th:value="${sucursal.id}" th:text="${sucursal.numSucursal}">
                                                </option>
                                            </select>
                                        </div>

                                    </div>
                                    <button type="submit" class="btn btn-primary offset-lg-2 col-md-2">Submit</button>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                .
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script src="@{/tinymce/tinymce.min.js}"></script>

</body>

</html>